<div class="container">

  <app-student-registry></app-student-registry>


  <!-- Students List -->
  <!--
    Pegando essa lista do pai e exibir no componente filhos student.html
    students = [{ type: 'approved', name: 'José', description: 'Masculino' },
  { type: 'approved', name: 'Maria', description: 'Feminino' }]; -->
  <div class="row mt-4">
    <div class="col-12">
      <app-student
      *ngFor="let student of students"
      [student]="student">
      </app-student>
    </div>
  </div>
</div>
